mixin footer
    .data
        .phone 
            .call 
                <i class="fa-solid fa-phone"></i>
                    h3 CALL ME.
                    p +2 01101795425
        .location 
            .loc 
                <i class="fa-solid fa-location-dot"></i>
                    h3 LOCATION
            p EGYPT GIZA 
        .footer 
            ul 
                li 
                    a(href="./about.html") About 
                li 
                    a(href="./home.html") Home
                li 
                    a(href="./skills.html") My Skills 
                li 
                    a(href="./contact.html") Contact Me