doctype 
html 
 head 
  meta(charset=utf-8)
  link(rel="stylesheet", href="./css/myskills.css")
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  title skills 
 body 
  .skills 

   h1 My Skills 
   .content 
     .basic 
       h2 Basics
       .info
        <i class="fa-brands fa-html5"></i>
         p HTML 
       .info
         <i class="fa-brands fa-css3"></i>
          p CSS 
       .info
         <i class="fa-brands fa-java"></i>
         p JAVA SCRIPT 
     .tools 
       h2 Tools
       .info
         <i class="fa-brands fa-gulp"></i> 
         p Gulpjs
       .info
          <i class="fa-solid fa-file-code"></i>
          p Webpack 
       .info
          <i class="fa-brands fa-sass"></i>
          p sass(Css Extention)
       .info
          <i class="fa-solid fa-file-code"></i>
          p pug(Html Tmplate Engine )
     .framework 
      h2 Frameworks 
      .info
        <i class="fa-solid fa-file-code"></i>
         p Tailwindcss

  .data
     .phone 
      .call 
       <i class="fa-solid fa-phone"></i>
       h3 CALL ME
      p +2 01101795425
     .location 
      .loc 
          <i class="fa-solid fa-location-dot"></i>
           h3 LOCATION
      p EGYPT GIZA
     .footer 
      ul 
       li 
        a(href="./about.html") About 
       li 
        a(href="./home.html") Home
       li 
        a(href="./skills.html") My Skills 
       li 
        a(href="./contact.html") Contact Me     



      
      
       

    
